.source-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;
  row-gap: 6px;
  max-width: 400px;
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // legacy Edge

  &::-webkit-scrollbar {
    display: none; // Chrome/Safari/Chromium Edge
  }
}

.source-item {
  padding: 1px 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background: var(--surface-2);
  font-size: 0.8rem;
  line-height: 1.4rem;
  height: fit-content;
  cursor: pointer;
  text-align: left;
}

.source-item-is-active {
  font-weight: 500;
}
