.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.search-input {
  display: flex;
  flex: 1;
}

.search-icon {
  width: 24px;
  height: 24px;
  margin-right: 24px;
}

.selection-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.selection-date {
  background: #f8f8f8;

  & > div {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}